.tabs {
    margin-left: 200px;
    cursor: pointer;
}

.icon {
    font-size: 18px;
    margin-right: 10px;
}

.label {
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
